@import './styles/theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    @apply antialiased;
  }

  /* Hide default password reveal button in Edge/IE */
  input::-ms-reveal,
  input::-ms-clear {
    display: none;
  }
}
